/.depos/
/.depos.cmake
/.github/
/.run/
/.tasks/
/.worktrees/
/default.profraw
/dev
/prodigy/dev/build/
/prodigy/discombobulator/target/
/prodigy/sdk/python/__pycache__/
/prodigy/sdk/python/build/
/prodigy/sdk/python/dist/
/prodigy/sdk/python/prodigy_sdk.egg-info/
/prodigy/sdk/rust/target/
/prodigy/sdk/typescript/dist/
/switchboard/switchboard.clang
*.profraw
*.profdata
